swiper-item-default()
  background-color #f5f5f5
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/index/logo.png')
  background-position center center
  background-size 206px 178px
  background-repeat no-repeat

.swiper-wrapper
  width 100%
  height 300px
  border-radius 16px
  overflow hidden
  swiper-item-default()

.swiper
  width 100%
  height 100%

.banner-item
  width 100%
  height 100%
  swiper-item-default()

.swiper .wx-swiper-dot
  width 16px
  height 6px
  border-radius 10px
  background rgba(255,255,255,0.5)
  overflow hidden

.swiper .wx-swiper-dot-active
  width 32px !important
  height 6px
  border-radius 10px
  overflow hidden

.banner-image
  width 100%
  height 100%