@import "../../assets/css/theme.styl"
.page-wrapper
  width 100%
  height 100%

.driver-wrapper
  width 100%
  padding-left 48px
  border-top 2px solid #F5F5F5
  border-bottom 2px solid #F5F5F5
  box-sizing border-box

.driver-item
  width 100%
  height 108px
  padding-right 46px
  display flex
  justify-content space-between
  align-items center
  border-bottom 2px solid #F5F5F5
  box-sizing border-box

.details-from-input
  text-align right

.driver-item:last-child
  border none
  
.driver-title
  width 160px
  text-align left
  font-size 32px
  color $font-color
  font-weight 700

.driver-info
  flex 1
  display flex
  justify-content flex-end
  align-items center

.driver-name
  font-size 30px
  color $font-h-color

.select-icon
  width 32px
  font-size 26px
  color $font-disabled-color
  margin-left 10px

.confirm-btn
  width 670px
  height 80px
  background-color $theme-color
  border-radius 8px
  text-align center
  line-height 80px
  font-size 32px
  font-weight 700
  color #FFFFFF
  margin 68px auto 0