@import  "../../assets/css/theme.styl"
.pay-wrapper
  padding 16px 0 48px

.pay-button
  width 702px
  height 80px
  background-color $theme-color
  border-radius 8px
  margin 0 auto
  display flex
  justify-content center
  align-items center
  font-size 32px
  font-weight 700
  color $background-color

.others-pay
  padding 16px 0
  height 248px

.pay-title
  font-size 32px
  font-weight 700
  color $font-color

.pay-number
  font-size 48px
  font-weight 700
  color $price-color
  margin-top 64px
  text-align center

.details-form-price
  color $price-color
  
.details-form-wrapper
  width 100%

.details-form-item
  width 100%
  font-size 30px
  color $font-color
  display flex
  justify-content space-between
  align-items stretch
  padding 16px 0

.details-form-label
  width 220px
  font-weight 700

.details-form-content
  font-weight 400
  flex 1
  text-align right