@import '../../assets/css/theme.styl'

.radio-wrapper
  width 100%
  display flex
  align-items center
  justify-content space-between

.radio-option
  display flex
  align-items center
  color $font-color

.radio-box
  width 28px
  height 28px
  border-radius 50%
  border 2px solid $font-h-color
  display flex
  align-items center
  justify-content center
  margin-right 12px

.radio-box-active
  border 2px solid #FFCA2A

.radio-spot
  width 12px
  height 12px
  border-radius 50%
  background-color #FFCA2A