@import '../../../../assets/css/theme.styl'
.modal-wrapper 
  width 100%
  height 100%
  background rgba(0,0,0,0.2)
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  margin auto 
  display flex
  align-items center
  justify-content center
  z-index 20

.modal-box
  box-sizing border-box
  padding-top 40px
  width 80%
  background-color #FFFFFF
  border-radius 16px
  margin auto
  display flex
  flex-direction column
  justify-content space-between

.modal-main
  width 100%
  text-align center
  font-size 36px
  font-weight 700
  color $font-color

.modal-content
  width 100%
  box-sizing border-box
  padding 0 30px
  text-align center
  font-size 30px
  color $font-h-color
  margin 40px 0 66px

.modal-btn-wrapper
  width 100%
  height 92px
  display flex
  justify-content space-between
  box-sizing border-box
  border-top 2px solid #F5F5F5

.modal-btn 
  width 50%
  height 92px
  font-size 32px
  font-weight 700
  text-align center
  line-height 92px
  
.model-btn-cancel
  color $font-h-color
  box-sizing border-box
  border-right 2px solid #F5F5F5

.model-btn-ok
  color $theme-color
  background transparent
  

button::after
  border none 