@import '../../assets/css/theme.styl' 

page 
  width 100%

.page-wrapper
  width 100%
  display flex
  flex-direction column
  justify-content space-between

.search-wrapper
  width 100%
  height 108px
  box-sizing border-box
  padding 18px 24px
  border-top 2px solid #f5f5f5

.search-main
  width 100%
  height 76px
  background-color #f5f5f5
  border-radius 8px
  box-sizing border-box
  padding 24px
  display flex
  align-items center

.icon-search-style
  width 32px
  height 32px
  font-size 32px
  color $font-h-color

.input
  flex 1
  margin-left 8px

.clear-search
  width 40px
  height 100%
  font-size 50px
  color $font-h-color
  display flex
  align-items center
  text-align right

.search-placeholder
  color $font-disabled-color
  font-size 28px
  height 40px
  line-height 1

.search-input
  color $font-color
  font-size 28px
  padding 0
  margin 0
  height 40px
  line-height 1

.customer-num
  width 100%
  height 84px
  box-sizing border-box
  padding-right 48px
  text-align right
  font-size 32px
  padding-top 16px

.number
  color $price-color
  font-size 40px

.customer-wrapper
  width 100%
  height calc(100vh- 84px - 108px)
  overflow-y auto
  border-top 2px solid #f5f5f5

.customer-list
  width 100%
  height 100%
  box-sizing border-box
  padding-left 48px
  border-bottom 2px solid #f5f5f5

.line
  width 100%
  height 2px 
  background #f5f5f5

.add-customer
  width 108px
  height 108px
  background linear-gradient(180deg,rgba(84,183,225,1) 0%,rgba(42,128,192,1) 100%)
  display flex
  align-items center
  justify-content center
  border-radius 50%
  position fixed
  right 24px
  bottom 160px
  z-index 10

.icon-add-style
  color #ffffff
  font-size 58px
  