@import '../../assets/css/theme.styl'

.bottom-login-wrapper
  position absolute
  left 0 
  right 0
  bottom 0
  width 100%
  height 100px
  background-color rgba(0,0,0,0.62)
  padding 0 48px
  box-sizing border-box
  display flex
  align-items center
  justify-content space-between

.left
  display flex
  align-items center

.image-style
  width 72px
  height 72px
  margin-right 16px

.tips-style
  font-size 24px
  font-weight 600
  color #FFFFFF

.btn-style
  width 160px
  height 56px
  background-color $theme-color
  border-radius 8px
  font-size 26px
  font-weight 600
  color #FFFFFF
  display flex
  align-items center
  justify-content center