@import "../../../assets/css/theme.styl"

.upper-button
  margin-bottom 20px
  display flex
  align-items center
  justify-content flex-end

.buttons
  height 64px
  font-size 28px
  line-height 64px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  margin-right 32px

.buttons:last-child
  margin-right 0

.pay-button
  width 290px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  font-weight 400
  background-color $background-color

.reduce-price
  font-size 24px

.share-button
  width 200px
  background-color $price-color
  color $background-color

.lower-button
  display flex
  align-items center
  justify-content flex-end

.cancel-button
  width 200px
  background-color $background-color
  color $font-disabled-color
  border 2px solid $font-disabled-color

.collect-button
  width 200px
  background-color $background-color
  color $font-color
  border 2px solid $font-disabled-color

.immediate-pay
  width 200px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color
