@import '../../../../assets/css/theme.styl'
.order-item
  margin-top 20px
  background-color #ffffff
  width 100%
  box-sizing border-box
  padding 0 40px

.msg-wrapper
  width 100%
  box-sizing border-box
  padding 32px 0
  border-bottom 2px solid #F5F5F5

.list-item
  display flex
  align-items stretch
  justify-content space-between
  width 100%
  line-height 42px

.item-city
  line-height 44px
  font-size 32px
  font-weight 700
  color $font-color
  flex 1

.service-type
  font-size 28px
  font-weight normal
  margin 0 15px

.price-wrapper
  // width 155px
  text-align right
  font-size 32px
  color $price-color
  font-weight 700
  display flex
  align-items center
  justify-content flex-end

.delete-icon
  font-size 28px
  display flex
  align-items center
  justify-content center
  width 48px
  height 48px
  background-color #f5f5f5
  color $font-disabled-color
  border-radius 50%
  font-weight normal

.line
  width 2px
  height 32px
  background-color #f5f5f5
  margin 0 16px

.font-style
  color $font-disabled-color

.price-style
  color $font-color

.icon-style
  font-size 34px
  margin 0 12px
  font-weight 700
  color $font-color

.order-msg
  font-size 30px
  color $font-color

.order-car-info
  margin-right 20px

.list-item-msg
  margin-top 24px

.btn-group
  width 100%
  display flex
  justify-content flex-end
  padding 32px 0

.btn
  height 64px
  font-size 28px
  display flex
  align-items center
  justify-content center
  padding 0 20px
  border-radius 8px
  box-sizing border-box

.cancel-order
  padding 0 28px
  color $font-color
  border 2px solid $font-disabled-color

.pay-btn
  color $price-color
  border 2px solid $price-color
  margin-left 32px

.order-over .price-state
  color $font-disabled-color

.order-over .price-wrapper-lang
  color $font-color
  
.small-text
  font-size  24px

.logisticsDetail
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

.payOrder
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  margin-left 30px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color

.shareOrder
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  margin-left 30px
  background-color $price-color
  color $background-color

.inviteCustomer
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  margin-left 30px
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

button 
  margin 0px
  padding 0px

button::after
  border none

.item-title
  height 80px
  display flex
  align-items center
  font-size 28px
  color $font-color
  border-bottom 2px solid #f5f5f5

.margin-top
  margin-top 20px