@import  "../../assets/css/theme.styl"

.disabled-text .details-form-item,
.disabled-text .font-color,
.disabled-text .no-offer
  color $font-disabled-color !important

.page-wrapper
  padding 16px 0 48px
  position relative

.details-form-label
  width 210px !important

.font-color
  color $price-color

.no-offer
  color $theme-color

.buttons-style
  width 702px
  margin 48px auto 0
  display flex
  justify-content space-between
  flex-wrap wrap

.submitOrder,
.viewOrder,
.againInquiry
  flex 1
  height 80px
  text-align center
  line-height 80px
  background $theme-color
  font-size 32px
  font-weight 700
  color $background-color
  border-radius 8px

.offer-button
  width 702px
  display flex
  justify-content space-between
  margin 48px auto 0

.cancelInquiry
  height 80px
  width 46%
  text-align center
  line-height 80px
  font-size 32px
  font-weight 700
  color $theme-color
  background-color $background-color
  border 2px solid $theme-color
  box-sizing border-box
  border-radius 8px

.urgeInquiry
  width 46%
  height 80px
  text-align center
  line-height 80px
  font-size 32px
  font-weight 700
  color $background-color
  background-color $theme-color
  border-radius 8px

.icon-invalid-style
  color #CD3B3B
  font-size 240px !important
  position absolute
  top -10px
  left 442px

button 
  padding 0px
  margin 0px

.copy-btn
  display inline-block
  width 88px
  height 40px
  background-color #F5F5F5
  border-radius 20px
  text-align center
  line-height 40px
  margin-left 12px
  font-size 24px