@import "../../../../assets/css/theme.styl"

.helpPayOrder
  padding 0 40px
  height 64px
  display flex
  align-items center
  justify-content center
  line-height 64px
  font-size 28px
  border-radius 8px
  margin-left 50px
  box-sizing border-box
  border 2px solid $price-color
  color #ffffff
  background-color $price-color