@import '../../../../assets/css/theme.styl'

background-minix(url)
  background-image url(url)
  background-size cover
  background-position center center
  background-repeat no-repeat

.help-tips
  width 100%
  height 144px
  padding 26px 24px
  display flex
  align-items center
  box-sizing border-box
  background-minix('https://resource.paoche56.com/paochelogistics/mp_img/help_pay_order_bg.png')

.user-icon
  width 92px
  height 92px
  border-radius 50%
  overflow hidden

.text
  color #ffffff
  font-size 30px
  padding-left 20px

.nick-name
  margin-right 20px

.tips-main
  width 100%
  height 394px
  border-bottom 20px solid #f7f7f7
  border-top 2px solid transparent

.money-box
  width 364px
  height 152px
  border 2px solid $price-color
  border-radius 8px
  margin 0 auto
  margin-top 32px
  margin-bottom 40px

.money-title
  width 100%
  height 50%
  background-color $price-color
  color #ffffff
  display flex
  align-items center
  justify-content center
  font-size 28px

.money
  height 50%
  color $font-color
  font-size 32px
  display flex
  align-items center
  justify-content center

.tips
  font-size 28px
  color $font-h-color
  padding-left 24px
  line-height 40px

.title
  margin-bottom 8px

.tips-weight
  color $price-color