@import "../../assets/css/theme.styl"
page 
  width 100%
  height 100%

.page-wrapper
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content space-between
  border-top 2px solid #F5F5F5
  box-sizing border-box

.page-main
  flex 1
  overflow-y auto
  padding-bottom 20px
  position relative

.order-msg
  margin-top 120px

.help-order-msg
  margin-top 20px

.card-wrapper
  position relative
  z-index 2

.page-footer
  border-top 2px solid #F5F5F5
  box-sizing border-box

.dividing-line
  height 2px
  background rgba(245,245,245,1)
  margin 32px 0
  
background-minix(url)
  background-image url(url)
  background-size cover
  background-position center center
  background-repeat no-repeat

.pay-tips-wrapper
  position absolute
  z-index 1
  width 100%
  height 172px
  padding 38px 0px 0px 56px
  box-sizing border-box
  background-minix('https://resource.paoche56.com/paochelogistics/mp_img/order/no_pay.png')

.car-rescue-tips-wrapper
  position absolute
  z-index 2
  width 100%
  height 286px
  padding 38px 0px 0px 56px
  box-sizing border-box
  background-minix('https://resource.paoche56.com/paochelogistics/mp_img/order/car_rescue_bg.png')

.pay-text-wrapper
  display flex
  align-items center

.pay-text
  text-align left
  font-size 40px
  font-weight 700
  color #FFFFFF

.show-price-wrapper
  width 702px
  box-sizing border-box
  padding 0 32px
  margin 32px auto 

.open-btn
  width 100%
  height 40px
  display flex
  align-items center
  justify-content center
  color $font-h-color
  font-size 28px

.icon-for-bottom
  margin-left 8px
  transform rotate(90deg)
  -webkit-transform rotate(90deg)

.icon-for-top
  transform rotate(-90deg)
  -webkit-transform rotate(-90deg)
  
.icon-open
  font-size 24px
