@import '../../assets/css/theme.styl'

page 
  width 100%
  height 100%
  background-color $theme-color

.page-wrapper
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  box-sizing border-box
  padding 32px 24px
  position relative

.wrapper-main
  width 100%
  height 100%
  border-radius 16px
  background-color #ffffff
  display flex
  flex-direction column
  box-sizing border-box
  padding 24px
  padding-top 40px
  position relative
  z-index 1

.order-user-info
  width 100%
  height 104px
  display flex 
  align-items center

.order-user-icon
  width 104px
  height 104px
  overflow hidden
  border-radius 50%

.order-user-msg
  display flex
  justify-content space-between
  flex-direction column
  height 100%
  margin-left 24px

.user-nick-name
  font-size 28px
  color $font-tip-color

.user-summary
  font-size 30px
  color $font-color

.order-msg
  width 100%
  padding 44px 24px
  background-color #f5f5f5
  border-radius 8px
  box-sizing border-box
  flex-wrap wrap
  font-size 32px
  color $font-color
  margin-top 34px
  line-height 44px
  font-weight 600

.icon-style
  font-size 32px
  margin 0 12px

.tip
  font-weight 600

.car-info
  margin-left 32px

.timer
  width 100%
  display flex
  align-items center
  justify-content center
  height 50px
  margin-top 40px
  margin-bottom 24px
  color $font-color
  font-size 28px 

.icon-style
  font-size 40px

.timer-tips
  font-size 38px
  color #F5A623

.timer-box
  border-radius 8px
  color #ffffff
  width 48px
  height 48px
  background-color #F5A623
  display flex
  align-items center
  justify-content center
  margin 0 6px
  font-size 30px
  font-weight 600

.text
  margin 0 6px

.timer-progress
  width cacl(100% - 48px)
  margin 0 24px
  height 16px
  background #f5f5f5
  border-radius 8px
  position relative
  overflow hidden

.progress-fill
  width 0
  position absolute
  height 100%
  background linear-gradient(90deg,rgba(255,164,53,1) 0%,rgba(241,101,18,1) 100%)
  border-radius 8px

.bargain-wrapper
  width 100%
  height 88px
  border-radius 8px
  margin-top 32px
  margin-bottom 40px

.btn
  background-color #F16512
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  color #ffffff
  font-size 36px
  font-weight 600

button 
  margin 0px
  padding 0px

button::after
  border none

.bargain-list
  width 100%
  flex 1
  border-radius 16px
  background-color #FFF1E1
  display flex
  flex-direction column
  box-sizing border-box

.bargain-now
  color #BA793B
  font-weight 600
  font-size 30px

.bargain-strategy
  display flex
  align-items center
  font-size 28px 
  color #BA793B

.icon-style-strategy
  font-size 32px
  margin-right 8px

.bargain-title
  width 100%
  height 82px
  box-sizing border-box
  padding 0 32px
  border-bottom 2px solid #F9E8D1
  display flex
  align-items center
  justify-content space-between

.bargain-main
  flex 1
  position relative

.no-bargain-wrapper
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  margin auto

.no-bargain-image
  width 174px
  height 176px
  margin 0 auto
  margin-top 74px
  padding-left 52px

.no-bargain-btn
  width 160px
  height 60px
  color #ffffff
  font-size 30px
  text-align center
  line-height 60px
  background-color #F5BF7C
  border-radius 8px
  margin 0 auto
  margin-top 32px

.swiper
  width 100%
  height 100%
  box-sizing border-box
  padding 32px

.swiper-item
  width 100%
  height 64px
  display flex
  align-items center
  justify-content space-between
  color #BA793B
  margin-bottom 24px

.userInfo-wrapper
  display flex
  align-items center
  flex 1

.user-name
  font-size 30px
  margin-left 24px
  flex 1

.bargain-price
  font-size 28px
  width 180px
  text-align right

.user-icon
  width 64px
  height 64px
  border-radius 50%
  overflow hidden

image
  width 100%
  height 100%

.public
  position absolute
  background-size cover
  background-repeat no-repeat
  // background-position center center

.bottom
  width 238px
  height 72px
  bottom 0
  right 0
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/bargain_bg_bottom.png') 
  
.right
  width 26px
  height 368px
  top 132px
  right -1px
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/bargain_bg_right.png')
  background-position right top

.left
  width 26px
  height 776px
  top 106px
  left 0
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/bargain_bg_left.png')

.bargain-strategy-wrapper
  width 750px
  height 100vh
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,0.5)
  z-index 5

.strategy-box
  width 572px
  height 810px
  background $background-color
  border-radius 16px
  padding 32px 22px
  box-sizing border-box
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  margin auto
  display flex
  justify-content space-between
  flex-direction column

.strategy-title
  font-size 36px
  font-weight 600
  color $font-color
  text-align center

.line
  width 100%
  height 2px
  background #F5F5F5
  margin 28px 0

.strategy-top
  padding 0 22px
  display flex
  flex-direction column
  justify-content space-between

.strategy-content
  width 100%
  text-align justify
  flex 1
  overflow-y auto
  font-size 28px

.strategy-button
  width 100%
  height 80px 
  background-color #F16512
  border-radius 8px
  font-size 32px
  font-weight 600
  text-align center
  line-height 80px
  margin-top 32px
  color #ffffff

.strategy-font-public
  line-height 44px

.strategy-font
  color $font-tip-color

.strategy-font-bold
  color $font-color
  font-weight 600

.strategy-font
  color $font-tip-color
  margin-bottom 15px
  line-height 40px

.strategy-font-weight
  font-weight 600
  