@import '../../../../assets/css/theme.styl'

.car-proxy-item
  width 100%
  border-top 20px solid #f5f5f5
  background-color #ffffff

.car-proxy-item-title
  width 100%
  box-sizing border-box
  padding 0 36px
  height 82px
  border-bottom 2px solid #f5f5f5
  display flex
  align-items center
  justify-content space-between

.car-proxy-item-time,
.car-proxy-item-status-wrapper
  flex 1
  font-size 28px

.car-proxy-item-time
  color #BBBBBB

.car-proxy-item-status-wrapper
  display flex
  align-items center
  justify-content flex-end

.car-proxy-item-status-text,
.car-proxy-item-delete-icon
  color $font-disabled-color

.car-proxy-item-status-text-highlight
  color $price-color

.car-proxy-item-status-vertical-line
  margin 0 16px
  width 2px
  height 32px
  background-color #F5F5F5

.car-proxy-item-delete-icon
  width 48px
  height 48px
  border-radius 50%
  background-color #f5f5f5
  display flex
  align-items center
  justify-content center
  font-size 28px

.car-proxy-item-main
  width 100%
  box-sizing border-box
  padding 32px 36px

.car-proxy-item-order-msg-wrapper
  width 100%
  display flex
  align-items stretch
  justify-content space-between

.car-proxy-item-small
  flex 1

.car-proxy-item-small-right
  text-align right

.car-proxy-item-order-msg
  flex 2

.car-proxy-item-order-msg-public-text
  font-size 32px 
  font-weight 700
  color $font-color

.car-proxy-item-order-msg-des
  font-size 28px
  color $font-h-color
  margin-top 12px

.car-proxy-item-buttons
  width 100%
  padding-top 24px
  display flex
  align-items center
  justify-content flex-end

.car-proxy-item-button
  padding 8px 28px
  line-height 40px
  background-color $price-color
  font-size 28px
  color #ffffff
  border-radius 8px
  margin-left 20px