@import '../../assets/css/theme.styl'

.page-wrapper
  width 100%
  height 100vh
  display flex
  flex-direction column
  justify-content space-between
  // background-color #f5f5f5

.page-main
  width 100%
  flex 1
  position relative
  overflow-y auto

.main-wrapper
  width 100%
  padding-top 274px
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/car_rescue/publish_bg.png')
  background-position center top 
  background-size 100% 360px
  background-repeat no-repeat

.btn
  width 720px
  height 80px
  border-radius 8px
  background-color #2A80C0
  display flex
  align-items center
  justify-content center
  position fixed
  bottom 40px
  left 0 
  right 0
  margin 0 auto
  font-size 32px
  color #ffffff