@import "../../../../assets/css/theme.styl"

.details-form-price
  color $price-color

.number
  color $font-color

.fail-price
  display flex
  align-items center
  color $font-disabled-color

.icon-style
  color #F5A623
  font-size 34px
  margin-left 20px