@import "../../../../assets/css/theme.styl"
.details-form-price
  color $price-color
  
.details-form-wrapper
  width 100%

.details-form-item
  width 100%
  font-size 30px
  color $font-color
  display flex
  justify-content space-between
  align-items stretch
  padding 16px 0

.details-form-label
  width 210px
  font-weight 700

.details-form-content
  font-weight 400
  flex 1
  text-align right

.number
  color $font-color

.fail-price
  display flex
  align-items center
  color $font-disabled-color

.icon-style
  color #F5A623
  font-size 34px
  margin-left 20px