@import '../../assets/css/theme.styl'

.index-wrapper
  padding-top 16px

.card-wrapper
  padding-top 0 !important
  padding-bottom 0 !important

.from-item
  width 100%
  padding 32px 0
  box-sizing border-box
  border-bottom 2px solid #f5f5f5

.label-wrapper
  width 100%
  display flex
  align-items center
  justify-content space-between

.form-required
  display flex
  align-items center
  width 180px

.required
  color $price-color
  font-size 32px
  margin-right 16px
  width 18px
  text-align center

.icon-right-style
  font-size 28px
  color $font-disabled-color
  margin-left 10px

.from-label
  font-size 32px
  color $font-color
  line-height 40px
  font-weight 600

.from-right
  font-size 28px
  color $font-color
  line-height 40px
  flex 1
  display flex
  align-items center
  justify-content flex-end

.time-picker
  width 100%
  text-align right
  
.from-item .label-wrapper .from-right .time-picker .from-disabled-text,
.from-item .label-wrapper .from-right .from-disabled-text
  color $font-h-color !important

.from-radio .radio-option
  margin-left 20px

.label-hide
  margin-top 12px
  margin-left 34px

.input
  width 100%
  font-size 28px
  line-height 40px
  height 40px
  color $font-color
  border none

.input-placeholder
  color $font-h-color

.textarea
  padding 0 
  margin 0

.close
  width 100%
  box-sizing border-box
  padding 32px 0
  color $theme-color
  font-size 28px

.hide-supplement-wrapper
  padding-bottom 48px

.supplement-item
  width 100%
  height 40px
  display flex
  align-items center
  margin-bottom 18px
.text
  height 40px
  font-size 28px
  color $font-color

.margin-text
  margin-right 20px

.submit-btn
  width 702px
  height 80px
  font-size 32px
  color #ffffff
  border-radius 8px
  background-color $theme-color
  margin 0 auto
  margin-top 48px
  margin-bottom 58px
  display flex
  align-items center
  justify-content center

button[disabled]
  background-color $button-disabled-color !important
  color rgba(255,255,255,0.8) !important

button::after
  border none

.showRegister
  width 100%
  height 100%
  position fixed
  top 0
  bottom 0
  right 0
  left  0
  margin  auto
  z-index 80