@import '../../assets/css/theme.styl'
  
page
  width 100%
  background-color #f7f7f7

.index-wrapper
  padding 20px 24px

.showRegister
  width 100%
  height 100%
  position fixed
  top 0
  bottom 0
  right 0
  left  0
  margin  auto
  z-index 80

.text-right
  text-align right

.margin-left
  margin-left 8px

.page-wrapper
  width 100%
  
.recommend-list
  width 100%
  padding 12px 24px
  box-sizing border-box
  background-color #ffffff

.recommend-item
  padding 12px 0
  display flex
  align-items center
  justify-content space-between

.recommend-city
  font-size 32px
  font-weight 700
  color $font-color

.icon-right-tou
  font-size 32px
  margin 0 16px

.predict
  background-color #FFE9E0
  border-radius 8px
  width 220px
  height 48px
  display flex
  align-items center
  justify-content center
  font-size 24px
  color $price-color

.weight-text
  font-weight 700
  font-size 28px
  margin-left 8px

.recommend-no-data
  width 402px
  margin 0 auto
  margin-top 50px

.no-data-image
  height 230px
  width 100%

.tips-text
  font-size 24px 
  color $font-h-color
  text-align center
  line-height 40px
  margin-top 10px