.rescue-icon-wrapper
  border-radius 50%
  box-sizing border-box
  border 2px solid #FBA43C
  display flex
  align-items center
  justify-content center
  flex-direction column

.big-rescue-icon-wrapper
  width 108px
  height 108px

.small-rescue-icon-wrapper
  width 48px
  height 48px

.rescue-icon
  color #FBA43C

.big-rescue-icon-wrapper>.rescue-icon
  font-size 60px

.small-rescue-icon-wrapper>.rescue-icon
  font-size 32px

.rescue-icon-text
  color #FBA43C
  font-size 28px
  line-height 40px
  