@import '../../assets/css/theme.styl'
.certification-wrapper
  width 750px
  height 100vh
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color rgba(0, 0, 0, 0.4)
  z-index 5

.certification-card
  width 528px
  height 484px
  background-color #FFFFFF
  border-radius 16px
  padding 40px 52px
  box-sizing border-box
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  margin auto

.image-wrapper
  width 160px
  height 160px
  margin 0 auto

.certification-image
  width 100%
  height 100%

.certification-title
  font-size 32px
  font-weight 700
  color $font-color
  margin 14px 0 36px
  text-align center

.certification-tips
  font-size 30px
  color $font-color
  text-align center

.certification-btn
  margin 40px auto 0
  width 422px
  height 68px
  background-color $theme-color
  border-radius 8px
  font-size 30px
  color #ffffff
  font-weight 700
  text-align center
  line-height 68px
