@import '../../../../assets/css/theme.styl'

.msg-form-wrapper
  width 100%
  margin-top 20px
  border-bottom 2px solid #f5f5f5

.msg-form-item
  margin-left 56px
  display flex
  align-items center
  justify-content space-between
  box-sizing border-box
  padding-right 56px
  height 108px
  border-bottom 2px solid #f5f5f5

.msg-form-item:last-child
  border none

.msg-form-label
  width 190px
  display flex
  align-items center

.label-text
  font-size 32px
  color $font-color

.important
  width 18px
  margin-right 8px
  color $price-color
  font-size 32px

.placeholder-class
  font-size 28px 
  color $font-h-color

.input-class
  font-size 28px 
  color $font-color
  width 100%
  text-align right

.msg-form-content
  flex 1

.msg-form-content-radio
  width 270px