@import '../../../../assets/css/theme.styl'
  
.choose-location-wrapper
  margin 0 24px
  background-color #ffffff
  border-radius 8px
  box-shadow 0px 4px 18px 8px rgba(0,0,0,0.05)

.choose-location-item
  margin 0 24px
  display flex
  align-items center
  justify-content space-between
  height 128px

.item-left-wrapper
  flex 1
  display flex
  align-items center

.right-icon
  width 32px
  height 32px
  font-size 28px
  color $font-disabled-color
  display flex
  align-items center
  justify-content center

.circular-public
  width 10px
  height 10px
  border-radius 50%
  margin-right 18px

.now-location
  border 6px solid #04BD93

.target-location
  border 6px solid #FF672A

.label
  font-size 28px
  color $font-color

.label-placeholder-class
  font-size 34px
  color $font-h-color

.line
  height 2px 
  margin 0 24px
  background-color #f5f5f5