.input-number-wrapper
  width 168px
  height 40px
  border 1PX solid #D1D2D6
  border-radius 4px
  box-sizing border-box
  display flex
  align-items center 
  justify-content space-between
  overflow hidden

.input-btn
  width 40px
  height 40px
  border-radius 4px
  box-sizing border-box
  display flex
  align-items center
  justify-content center
  background-color #F5F5F5

.input-add
  color #666666

.input-number
  width 86px
  height 40xp
  border-right 1PX solid #D1D2D6
  border-left 1PX solid #D1D2D6
  color #666666
  display flex
  align-items center 
  justify-content center
  text-align center
  font-size 28px