@import '../../../../assets/css/theme.styl'
.offer-item
  margin-top 20px
  background-color #ffffff
  width 100%
  box-sizing border-box
  padding 0 48px

.item-title-wrapper
  width 100%
  height 80px
  display flex
  align-items center
  justify-content space-between
  border-bottom 2px solid #f5f5f5

.title-time
  font-size 28px
  color $font-color

.offer-state
  font-size 32px
  font-weight 700

.offer-state-has
  color $price-color

.offer-state-on
  color $theme-color

.item-main
  width 100%
  box-sizing border-box
  padding 24px 0 20px
  display flex
  flex-direction column
  justify-content space-between

.item-city
  line-height 44px
  font-size 32px
  font-weight 700
  color $font-color

.icon-style
  font-size 34px
  margin 0 12px
  font-weight 700
  color $font-color
  
.list-item
  font-size 28px
  color $font-color
  line-height 40px
  padding-top 12px

.disabled-text .item-city,
.disabled-text .list-item,
.disabled-text .title-time,
.disabled-text .offer-state,
.disabled-text .icon-style
  color $font-disabled-color



  

