@import '../../assets/css/theme.styl'

.page-wrapper
  display flex
  align-items center
  flex-wrap wrap
  border-top 2px solid #f5f5f5

.tool-grid-item
  width 33.33%
  height 176px
  display flex
  align-items center
  justify-content center
  flex-direction column
  box-sizing border-box
  border-bottom 2px solid #f5f5f5

.grid-item-right-border
  border-right 2px solid #f5f5f5

.tool-grid-item-image
  width 88px
  height 88px
  border-radius 50%

.tool-grid-item-text
  font-size 28px
  color $font-color
  line-height 40px
  margin-top 8px