@import "../../assets/css/theme.styl"
.page-wrapper
  padding-top 16px

.pay-content-style
  height 424px
  padding 34px 36px
  box-sizing border-box
  display flex
  flex-direction column
  justify-content space-between
  text-align center

.icon-success-style
  font-size 88px
  color $theme-color

.pay-success-style
  font-size 48px
  font-weight 700
  color $theme-color
  margin 32px 0 48px

.pay-notice
  font-size 30px
  color $font-tip-color