@import "../../../../assets/css/theme.styl"

.status-wrapper
  display flex
  flex-wrap wrap
  justify-content flex-end

flexCC()
  display flex
  align-items center
  justify-content center

.payOrder
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  flexCC()
  margin-left 50px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color
  
.shareOrder
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  flexCC()
  margin-left 50px
  background-color $price-color
  color $background-color

.logisticsDetail
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  flexCC()
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

.immediate-pay
  width 200px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color

.otherOnePayOrder,
.submitOrderTransport,
.inviteCustomer,
.seeOrderTransport
  padding 0 30px
  height 64px
  font-size 28px
  border-radius 8px
  flexCC()
  margin-left 50px
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

button 
  margin 0px
  padding 0px

button::after
  border none

.margin-top
  margin-top 20px