@import "../../../../assets/css/theme.styl"

.status-wrapper
  display flex
  flex-wrap wrap
  justify-content flex-end

.payOrder
  padding 0 40px
  height 64px
  font-size 28px
  line-height 64px
  border-radius 8px
  text-align center
  margin-left 50px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color
  
.shareOrder
  width 200px
  height 64px
  font-size 28px
  line-height 64px
  border-radius 8px
  text-align center
  margin-left 50px
  background-color $price-color
  color $background-color

.logisticsDetail
  width 200px
  height 64px
  font-size 28px
  line-height 64px
  border-radius 8px
  text-align center
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

.immediate-pay
  width 200px
  box-sizing border-box
  border 2px solid $price-color
  color $price-color
  background-color $background-color

.inviteCustomer
  width 200px
  height 64px
  font-size 28px
  line-height 64px
  border-radius 8px
  text-align center
  margin-left 50px
  background-color $background-color
  color $font-color
  box-sizing border-box
  border 2px solid $font-disabled-color

button 
  margin 0px
  padding 0px

button::after
  border none