@import "../../../../assets/css/theme.styl"

.details-form-wrapper
  width 100%

.details-form-item
  width 100%
  font-size 30px
  color $font-color
  display flex
  justify-content space-between
  align-items stretch
  padding 16px 0

.details-form-label
  width 150px
  font-weight 600

.details-form-content
  display flex
  font-weight 400
  flex 1
  justify-content flex-end

.copy-btn
  display inline-block
  width 88px
  height 40px
  background-color #F5F5F5
  border-radius 20px
  text-align center
  line-height 40px
  margin-left 12px
  font-size 24px