@import "../../../../assets/css/theme.styl"

.details-form-wrapper
  width 100%

.details-form-item
  width 100%
  font-size 30px
  color $font-color
  display flex
  justify-content space-between
  align-items stretch
  padding 16px 0

.details-form-label
  width 150px
  font-weight 600

.details-form-content
  font-weight 400
  flex 1
  text-align right