@import  "../../../../assets/css/theme.styl"
.info-wrapper
  padding 16px 0 48px

.details-form-label
  width 210px

.font-color
  color $price-color

.no-offer
  color $theme-color

.place-order
  width 702px
  height 80px
  margin 48px auto 0
  display flex
  align-items center
  justify-content center
  background $theme-color
  border-radius 8px
  font-size 32px
  font-weight 600
  color $background-color

.offer-button
  width 702px
  display flex
  justify-content space-between
  margin 48px auto 0

.cancel-offer
  width 332px
  height 80px
  border 2px solid $theme-color
  border-radius 8px
  box-sizing border-box
  display flex
  align-items center
  justify-content center
  font-size 32px
  color $theme-color

.prompt-quotation
  width 332px
  height 80px
  border-radius 8px
  display flex
  align-items center
  justify-content center
  font-size 32px
  color $background-color
  background-color $theme-color