@import '../../assets/css/theme.styl'

.horizontal-radio-wrapper
  width 100%
  display flex
  align-items center
  justify-content space-between

.vertical-radio-wrapper
  width 100%

.vertical-radio-wrapper .radio-box
  margin-right 9px

.vertical-radio-wrapper .radio-option
  margin-bottom 16px

.vertical-radio-wrapper .radio-option:last-child
  margin-bottom 0

.radio-option
  display flex
  align-items center
  color $font-color
  font-size 28px

.radio-box
  width 28px
  height 28px
  border-radius 50%
  border 2px solid $font-h-color
  display flex
  align-items center
  justify-content center
  margin-right 12px

.radio-box-active
  border 2px solid #FFCA2A

.radio-spot
  width 12px
  height 12px
  border-radius 50%
  background-color #FFCA2A
