@import "../../assets/css/theme.styl"

swiper-item-default()
  background-color #f5f5f5
  background-image url('https://resource.paoche56.com/paochelogistics/mp_img/index/logo.png')
  background-position center center
  background-size 206px 178px
  background-repeat no-repeat

.page-wrapper
  height 100vh
  display flex
  flex-direction column
  justify-content space-between

.des-wrapper
  flex 1
  overflow-y scroll

.banner-wrapper
  width 100%
  height 500px
  overflow hidden
  swiper-item-default()
  position relative

.swiper
  width 100%
  height 100%

.banner-item
  width 100%
  height 100%
  overflow hidden
  swiper-item-default()

.banner-image
  width 100%
  height 100%
  overflow hidden

.doc-wrapper
  padding 4px 14px 
  font-size 22px
  line-height 32px
  position absolute
  right 38px
  bottom 30px
  background-color rgba(0,0,0,0.5)
  border-radius 20px
  color #ffffff

.details-title-wrapper
  width 100%
  padding 20px 36px 48px
  box-sizing border-box

.details-price
  line-height 84px

.money
  font-weight 700
  font-size 60px
  color $price-color

.money-text
  font-size 30px
  color $price-color

.history-icon,
.history-text
  font-size 24px
  color #BBBBBB

.history-icon
  margin-left 28px
  margin-right 8px


.details-title
  font-size 32px
  line-height 44px
  font-weight 700
  color $font-color

.title
  border-top 20px solid #f5f5f5
  border-bottom 2px solid #f5f5f5
  padding 24px 36px
  display flex
  align-items center 
  font-size 36px
  line-height 50px
  font-weight 700
  color $font-color
  
.main
  width 100%
  box-sizing border-box
  padding 24px 36px

.main-des
  padding 24px 0 16px 36px

.des-line
  display flex
  align-items center
  padding-bottom 36px

.des-item 
  display flex
  align-items center

.long
  width 390px

.item-title
  font-size 28px
  color #BBBBBB
  width 114px
  margin-right 40px

.short
  width 58px

.item-des
  font-size 32px
  color $font-color
  flex 1

.remark
  width 100%
  background #f7f7f7
  box-sizing border-box
  padding 24px
  font-size 28px
  line-height 40px
  color $font-color
  text-align justify
  border-radius 8px

.btn-wrapper
  width 100%
  height 128px
  box-shadow 0px -2px 8px 2px rgba(0,0,0,0.08)
  box-sizing border-box
  padding 24px

.btn
  width 100%
  height 100%
  background-color $theme-color
  border-radius 8px
  font-size 32px
  color #ffffff
  display flex
  align-items center
  justify-content center