@import '../../assets/css/theme.styl'
.checkbox-wrapper
  width 100%
  display flex
  align-items center

.checkbox-item
  flex 1
  font-size 28px
  color $font-color
  display flex
  align-items center
  justify-content center
  
.checkbox
  width 26px
  height 26px
  border-radius 4px
  border 2px solid $font-h-color
  margin-right 10px

