@import '../../assets/css/theme.styl'
page 
 width 100%
 height 100%

.place-order-wrapper
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content space-between
  border-top 2px solid #F5F5F5
  box-sizing border-box

.place-order-top
  padding 16px 0
  flex 1
  width 100%
  overflow-y auto

.details-from-text
  color $font-disabled-color

.dividing-line
  height 2px
  background-color #F5F5F5
  margin 32px 0

.place-order-button
  width 100%
  height 100px
  background-color $theme-color
  display flex
  justify-content center
  align-items center
  color $background-color
  font-size 32px
  font-weight 700

.details-form-item
  width 100%
  font-size 30px
  color $font-color
  display flex
  justify-content space-between
  align-items stretch
  padding 16px 0

.details-form-label
  width 150px
  font-weight 700

.details-form-content
  flex 1
  word-wrap break-word
  word-break break-all
  text-align right

.details-from-input
  width 100%
  text-align right

.single-price
  color $price-color

.details-from-number
  margin-left 20px

.details-address-input
  width 100%
  font-size 30px
  color $font-color

.placeholder-style
  color $font-disabled-color
  font-size 30px

.choose-customer
  width 702px
  height 108px
  margin 16px auto 0
  padding 30px 32px
  box-sizing border-box
  background-color #80A6C2
  border-radius 8px 8px 0px 0px
  display flex
  justify-content space-between
  align-items center

.customer-info
  display flex
  justify-content space-between
  align-items center

.customer-img
  font-size 46px
  color $background-color
  margin-right 20px

.customer-name
  font-size 36px
  font-weight 700
  color $background-color

.choose-arrow
  font-size 32px
  color $background-color

.no-card-style
  width 702px
  margin 0 auto
  padding 16px 32px
  overflow hidden
  box-sizing border-box
  background $background-color
  box-shadow 0px 4px 18px 8px rgba(0,0,0,0.05)
  border-radius 8px

button
  border-radius 0

button[disabled]
  background-color $button-disabled-color !important
  color rgba(255,255,255,0.8) !important

button::after
  border none

.icon-right-style
  font-size 26px
  color $font-disabled-color

.start-icon
  width 18px
  font-size 32px
  color $price-color
  margin-right 8px

.car-vins
  width 220px